---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'School dates',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="School dates"
    image={{
      src: 'https://imgur.com/a/VJOZvfP',
      alt: 'Nawroz school image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">2024</span>: <br /> School Dates <span
        class="hidden xl:inline"
      >
        are here</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> School started... </span>
      Table to follow
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href="" />

      <Button variant="link" href="">
        <Image src="" alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="announcement"
    title="We kindly ask parenets to ..."
    subtitle="Please note that the school will be closed on the following dates:"
  />
</Layout>
