---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';


const metadata = {
  title: 'Transparency',
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="KHL Transparency"
    image={{
      src: 'https://scontent-lhr6-2.xx.fbcdn.net/v/t39.30808-6/323047196_863698298295025_7601728056011587103_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=VEYlCxjBzGIQ7kNvgHsUEH7&_nc_zt=23&_nc_ht=scontent-lhr6-2.xx&_nc_gid=AovRNUKpYqNeKskIN2V6tj8&oh=00_AYD1gCBCukCcEqbUj2KKCNkyuY-Kia0vspc_OBdLjcd4cA&oe=67463492',
      alt: 'Nawroz school image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">2024</span>: <br /> Transparency Report <span
        class="hidden xl:inline"> are here</span
      >
    </Fragment>

    <Fragment slot="subtitle">
  <FAQs
    title="Overall Figures"
    items={[
      {
        title: 'Donation this year',
        description:
          'Outline all or some sources',
      },
      {
        title: 'Total costs this year',
        description:
          'Costs this year in a paragraph',
      },
      {
        title: 'School Expenditure',
        description: `Some overall figures about the school expenditure`,
      },
      {
        title: 'Add more boxes',
        description:
          'Below...',
      },

    ]}
  />
</Layout>
