---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Transparency',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="KHL Transparency"
    image={{
      src: 'https://i.imgur.com/VKJgHen.jpeg',
      alt: 'Nawroz school image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">2024</span>: <br /> Transparency Report <span
        class="hidden xl:inline"
      >
        are here</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <FAQs
        title="Overall Figures"
        items={[
          {
            title: 'Donation this year',
            description: 'Outline all or some sources',
          },
          {
            title: 'Total costs this year',
            description: 'Costs this year in a paragraph',
          },
          {
            title: 'School Expenditure',
            description: `Some overall figures about the school expenditure`,
          },
          {
            title: 'Add more boxes',
            description: 'Below...',
          },
        ]}
      />
    </Fragment>
  </Hero2></Layout
>
