---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="KHL"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      A home for everyone <br />
      <span class="text-accent dark:text-white highlight"> for ever</span>
    </Fragment>
  </Hero>

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Education',
        description: 'Text',
        icon: 'tabler:template',
      },
      {
        title: 'History',
        description: 'Nawroz School was formed in ... The charity was setup...',
        icon: 'tabler:template',
      },
      {
        title: 'Culture',
        description: 'Text',
        icon: 'tabler:template',
      },
      {
        title: 'Community',
        description: 'Text',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />
</Layout>
