---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import LanguagePicker from '../components/LanguagePicker.astro';

const metadata = {
  title: 'Welcome to KHL',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Donate now',
        href: '#',
        target: '_blank',
        icon: 'tabler:heart',
      },
      { text: 'Learn more',
        icon: 'tabler:info-square',
        href: '#features' },
    ]}
    image={{ src: 'https://images.ctfassets.net/pjshm78m9jt4/4RKqUDTeStIVA8LnhAdpS1/317f38e6c261a3124ed285e2b28d4cd1/IMG_3300_2.jpg?fm=avif&fit=fill&w=720&h=405&q=80', alt: 'KHL new home opening - image from ITV' }}
  >
    <Fragment slot="title">
      Welcome to KHL
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">KHL</span> is the home to Nawroz School
    </Fragment>
  </Hero>

  <!-- CallToAction Widget ************ -->

  <CallToAction
    title="The largest fund raising effort by a Kurdish Community in Yorkshire"
    subtitle="We need to raise over £400,000 to secure the future of the Kurdish Community Centre in Leeds."
    actions={[
      {
        variant: 'primary',
        text: 'Donate now',
        href: '#',
      },
      {
        variant: 'secondary',
        text: 'Learn more',
        href: '/about',
      },
    ]}
    />
  <!-- Note Widget ******************* -->

  <Note />


  <!-- Features2 Widget ************** -->

  <Features2
    title="Discover"
    subtitle="Learn more about Newroz School and the Kurdish Community Centre in Leeds."
    tagline="Components"
    items={[
      {
        title: 'History',
        description: "KHL was established...",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Community',
        description:
          "Leeds is the home to a large Kurdish community...",
        icon: 'flat-color-icons:conference-call',
      },
      {
        title: 'Nawroz School',
        description:
          'The School was opened in 2017...',
        icon: 'flat-color-icons:organization',
      },
      {
        title: 'Teaching',
        description:
          "The school offers a range of classes...",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Testimonial',
        description: 'Our students and parents love the school...',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Get in touch with us...',
        icon: 'flat-color-icons:business-contact',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`KHL blog includes latest news, updates, and articles about Nawroz School.`}
  />
</Layout>
